* {
  font-family: Helvetica;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Barra de progresso */
progress {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: #eee;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #888;
  border-radius: 5px;
}

progress::-moz-progress-value {
  background-color: #888;
  border-radius: 5px;
}

/* Modal */
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
}

#close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-message {
  font-size: 18px;
  margin-bottom: 20px;
}
